Repository coder-gyq/vue-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat: add
  src/apis/index.ts
  src/libs/index.ts
  src/utils/index.ts
Due: eslint --fix

feat
  .prettierignore
  .stylelintignore
  src/router/index.ts
  src/shims-vue.d.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix

feat: perf
  package.json
  pnpm-lock.yaml
Due: none

feat: update
  .gitignore
  .vscode/settings.json
Due: none

feat: add tailwindcss
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  postcss.config.ts
  src/main.css
  src/main.ts
  tailwind.config.ts
Due: eslint --fix, stylelint --fix

feat: add tail
  postcss.config.ts
  src/App.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,ts,vue}
  stylelint --fix: any of: src/**/*.{vue,less,css}
